body {
    background-color: #FFE5E5;
    margin: 0;
}

.top {
    background-color: #A8DF8E;
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
    padding: 0;
}

h5 {
    margin: 0;
    padding: 0 0 10px 0 ;
}