body {
    background-color: #FFE5E5;
    margin: 0;
}

.top {
    background-color: #A8DF8E;
    text-align: center;
    color: white;
}

h1 {
    margin-top: 0;
    margin: 0;
    padding-bottom: 10px;
}

h5 {
    margin: 2px 0 0 0;
    padding-bottom: 10px ;
}