@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #F3FDE8;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.top {
    font-family: 'Roboto', sans-serif;
    background-color: #A8DF8E;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 900%;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 300%;
    margin: 0;
    padding: 0 0 10px 0 ;
}

.allHobbies {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hobbies{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: #FFE5E5;
    margin: 15px 0;
    width: 23%;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    margin-top: 5%;
    border-radius: 10%;
    width: 90%;
}

.hobbies a p {
    display: flex;
    justify-content: center;
    width: 75%;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    background-color: #FFD2D2;
    padding: 5%;
    border-radius: 10px;
}